.wrapper__basket{
  padding-top: 30px;

  .basket{
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    &__item{
      width: 49%;
      height: 180px;
      padding: 10px;

      border-radius: 10px;
      margin-bottom: 10px;

      box-sizing: border-box;

      background-color: #e7e7e7;

      display: flex;
      align-items: center;

      &:nth-child(odd){
        margin-right: 10px;
      }

      &__image{
        height: 120px;
        width: 120px;
        margin-right: 10px;

        img{
          width: 100%;
        }

      }

      &__info{


        &__coffee__name{
          font-size: 20px;
          margin-bottom: 10px;
        }

        &__count{
          h4{
            font-size: 16px;
            margin-bottom: 10px;
          }

          button{
            padding: 5px;
            width: 40px;
            margin: 0 10px;

          }

        }

      }

    }

  }

}