@import "src/global";

.product__wrapper{
  display: flex;
  flex-wrap: wrap;

  padding-top: 40px;
  margin-right: -10px;

  .product{
    width: 24%;
    min-height: 100px;

    margin: 0 10px 10px 0;

    border-radius: 10px;
    border: solid silver 1px;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    padding: 10px;

    img{
      margin-right: 10px;
      height: 80px;
      width: 80px;
    }

    h4{
      margin-bottom: 10px;
    }

    button{
      padding: 5px;
      font-size: 14px;
      border-radius: 5px;
    }

  }

}